<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>
<body>
<div class="read">
    <% if(locals.books){ %>
        <div class="align">
        <img src="<%= books.cover %>" class="" alt="cover of the book">
        <div class="about">
        <h3 class="title"><%= books.title + '- BY ' + books.author %></h3>
        <small>  <%= 'ISBN : ' + books.isbn %></small>
        <small> <%= 'Date Read : ' + booksDate %></small>
        <small><%= 'Recommanded : ' + books.rating %></small>
        <div class="buttons">
        <a class="blue" href ="/"> Go Back</a>
        <a class="green" href = "/edit/<%= books.id %>"> Edit</a>
        <a class="red" href = "/delete/<%= books.id %>"> Delete</a>
    </div>
    </div>
</div>
<h3 class="title"> My Notes</h3>
        <p> <%= books.notes %></p>
   <% } %>
</div>
</body>
</html>